<main>
  <section id="details-page">
    <div class="main_card">
      <div class="card_left">
        <div class="card_datails">
          <h1>Name: {{creature.name}}</h1>
          <h3>Created by an author: Alex Smith</h3>
          <div class="card_character">
            <p class="card-species">Species: {{creature.species}}</p>
            <p class="card-skin">Skin colour: {{creature.skinColor}}</p>
            <p class="card-eye">Eye Colour: {{creature.eyeColor}}</p>
          </div>

          <p class="disc">
            Description:
            {{creature.description}}.
          </p>

          <!-- If there is no registered user, do not display buttons-->
          {{#if isAuthenticated}}
            <div class="social-btn">
              <!-- Only for registered user and author of the post -->
              {{#if isOwner}}
                <a href="/posts/{{creature._id}}/edit" class="edit-btn">Edit</a>
                <a
                  href="/posts/{{creature._id}}/delete"
                  class="del-btn"
                >Delete</a>
              {{else}}
                <!-- logged in users, who have not yet voted-->
                {{#unless hasVoted}}
                  <a
                    href="/posts/{{creature._id}}/vote"
                    class="vote-up"
                  >Vote</a>
                {{/unless}}
              {{/if}}

              {{#if hasVoted}}
                <!-- logged in user who has already voted-->
                <p class="thanks-for-vote">Thanks For Voting</p>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="card_right">
        <img src="{{creature.image}}" alt="{{creature.name}}" />
      </div>
    </div>
  </section>

  <section id="votes">
    <div class="vote-info">
      <div class="card_left">
        <div class="card_datails">
          <h1>Votes</h1>
          <div class="card_vote">
            <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
            <p class="PV">Total rating of votes: {{creature.votes.length}}</p>
          </div>
          {{#if joinedEmailsOfOwners}}
            <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
            <p class="disc">People who voted for the post -
              {{joinedEmailsOfOwners}}</p>
          {{else}}
            <!-- If not display: -->
            <p class="disc">
              People who voted for the post - No one has voted yet.
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</main>