<li>
  <img src="{{imageUrl}}" alt="" />
  <h3>{{name}}</h3>
  <p><span>Breed: </span>{{breed}} </p>
  <p><span>Description: </span>{{description}}</p>
  <ul class="buttons" data-id="{{_id}}">
    <li class="btn edit"><a href="cats/edit?id={{_id}}">Change Info</a></li>
    <li class="btn delete"><a href="#">New Home</a></li>
  </ul>
</li>