<main>
  <form action="/cats/edit" method="PUT" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" value="{{name}}" />
    <label for="description">Description</label>
    <textarea id="description">{{description}}</textarea>
    <label for="image">ImageUrl</label>
    <input name="imageUrl" type="text" id="image" value="{{imageUrl}}" />
    <label for="group">Breed</label>
    <select id="group">
      <option value="{{breed}}">{{breed}}</option>
      {{#each breeds}}
        <option value="{{this.breed}}">{{this.breed}}</option>
      {{/each}}
    </select>
    <button type="submit">Edit Cat</button>
  </form>
</main>